.classpath
.project
.settings/*
.tern-project
bin/*
target/*
src/main/resources/rebel.xml

# Archivos de Sencha EXTJS
src/main/webapp/.sencha/
src/main/webapp/.settings/
src/main/webapp/bootstrap.css
src/main/webapp/bootstrap.js
src/main/webapp/build.xml
src/main/webapp/build/*
src/main/webapp/classic.json
src/main/webapp/classic.jsonp
src/main/webapp/ext/*
src/main/webapp/modern.json
src/main/webapp/modern.jsonp
src/main/webapp/sass/example/*
src/main/webapp/workspace.json
/bin/
/target/
