.#{$prefix}body {
    color:$blanco-s;
    font-size: $font-size;
    @if $line-height != normal {
        line-height: $line-height;
    }
    @if $font-weight != normal {
        font-weight: $font-weight;
    }
    font-family: $font-family;
    @if not is-null($body-background-color) and $body-background-color != transparent {
        background: $azulbd;
    }
}

// When a component is having its size animated, or is collapsed, content must be clipped
// This state must override others, so is !important
.#{$prefix}animating-size,
.#{$prefix}collapsed {
    overflow: hidden!important;
}

// When a component is animating from collapsed state, its element needs to appear above
// the other elements for the duration of the expanding animation.
.#{$prefix}animating-size {
    z-index: 10000;
}

/*ESTILOS SURA 2017 para la sección de elección rol*/


.btn_rol_suscriptor{
	border-style: solid;
	border-left-width: 12px;
	border-top-width:0px;
	border-right-width: 0px;
	border-bottom-width:0px;
	border-left-color:#00B5CB;
	display:block;
	width:28%;
	margin: 20px auto;
	padding: 10px;
	background-color: rgba(0, 51, 160, .75);
	color:#FFF; 
	font-size:16px;
	min-height:65px; 
	line-height: 45px;
	-webkit-transition: all .25s ease-in-out;
		&:hover{
		 -webkit-transform: scale(1.1);
		 background-color: rgba(0, 51, 160, .90); }
		 
}





.txt_btn_rol {
    position: relative;
    &:before {
   		content: "\f0c0";
   	 	font-family: FontAwesome;
    	font-style: normal;
    	font-weight: normal;
    	text-decoration: inherit;
   	 	color: #fff;
   		font-size: 18px;
    	padding-right: 0.5em;
   	 	position: absolute;
    	top: 10px;
   		left: 0;
    	line-height: 25px;}
}
 
.chev_rol:after {
    content: "\f105";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #fff;
    font-size: 18px;
    padding-right: 0.5em;
    left: 0;
    line-height: 25px; 
}




.plan_pago_base{
    -webkit-transition: all .25s ease-in-out;
      background-color:#fff;
              &:hover{
         -webkit-transform: scale(1.4);
          }
}


.plan_pago_monto{
    border-style: solid;
    border-left-width: 12px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-color: #0033a0;
    padding: 20px 10px 0px;
    background-color: #00b5cb;
    color: #fff;
    font-size: 35px !important;
    line-height: 27px ;
    text-align: center;
        .rec_subsecuente{
         font-size: 14px; 
         font-weight: 300;
         line-height: 0px;   
        }
        .moneda{
            font-size: 12px;
            line-height: 12px;        
            font-weight: 300;}
                    
}

.periocidad{
              font-size: 22px;
              //line-height: 12px; 
              font-weight: 600;
              color:$font-grey;
              
                            
            }  
        
.titulo_plan{
                  font-size: 60px;
              }
        
        
.monto_02{
    font-size: 20px;
    font-weight: 600;
  }      


.shadow_card{
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}


.thumb{    
   
    &:focus {outline: 2px solid transparent !important;
             background-color:#0033a0;}
    &:visited {outline: 2px solid transparent !important;
             }         
}

.plan_pago{
    display:inline-block;
    padding: 2% 2%;    
}


.titulo_plan{
        font-weight: 600 !important;
        text-decoration: inherit;
        color: $font-grey !important;
        width:100% !important;
        font-size: 20px !important;
        padding-top: 5% !important;       
        line-height: 33px !important;
        text-align:center;
        background-color: $azulbd;
}

//Media Query Botones Selección de rol Classic

@media only screen and (min-height: 1024px) {
  .btn_rol_suscriptor  {
          width:28%;
          height: auto !important; 
          padding-top: 12px;
          }
          
   .plan_pago{
      padding: 8% 1%;
     }
    .titulo_plan {
      padding-top: 8% !important;  
    } 
          
   }
