.#{$prefix}body {
    color:$blanco-s;
    font-size: $font-size;
    @if $line-height != normal {
        line-height: $line-height;
    }
    @if $font-weight != normal {
        font-weight: $font-weight;
    }
    font-family: $font-family;
    @if not is-null($body-background-color) and $body-background-color != transparent {
        background: $azulbd;
    }
}

// When a component is having its size animated, or is collapsed, content must be clipped
// This state must override others, so is !important
.#{$prefix}animating-size,
.#{$prefix}collapsed {
    overflow: hidden!important;
}

// When a component is animating from collapsed state, its element needs to appear above
// the other elements for the duration of the expanding animation.
.#{$prefix}animating-size {
    z-index: 10000;
}

/*ESTILOS SURA 2017 para la sección de elección rol*/


.btn_rol_suscriptor{
	border-style: solid;
	border-left-width: 12px;
	border-top-width:0px;
	border-right-width: 0px;
	border-bottom-width:0px;
	border-left-color:#00B5CB;
	display:block;
	width:40%;
	margin: 20px auto;
	padding: 10px;
	background-color: rgba(0, 51, 160, .75);
	color:#FFF; 
	font-size:16px;
	min-height:65px; 
	line-height: 45px;	
	
	-webkit-transition: all .25s ease-in-out;
		&:hover{
		 -webkit-transform: scale(1.1);
		 background-color: rgba(0, 51, 160, .90); }	
		 
    -moz-transition: all .25s ease-in-out;
        &:hover{
         -moz-transform: scale(1.1);
         background-color: rgba(0, 51, 160, .90); } 
    -ms-transition: all .25s ease-in-out;
        &:hover{
         -ms-transform: scale(1.1);
         background-color: rgba(0, 51, 160, .90); }	
    -o-transition: all .25s ease-in-out;
        &:hover{
         -o-transform: scale(1.1);
         background-color: rgba(0, 51, 160, .90); } 
     transition:   all .25s ease-in-out;
        &:hover{ 
         transform: scale(1.1);
         background-color: rgba(0, 51, 160, .90); }          
}


.txt_btn_rol {
    position: relative;
    &:before {
   		content: "\f0c0";
   	 	font-family: FontAwesome;
    	font-style: normal;
    	font-weight: normal;
    	text-decoration: inherit;
   	 	color: #fff;
   		font-size: 18px;
    	padding-right: 0.5em;
   	 	position: absolute;
    	top: 10px;
   		left: 0;
    	line-height: 25px;}
}
 
.chev_rol:after {
    content: "\f105";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #fff;
    font-size: 18px;
    padding-right: 0.5em;
    left: 0;
    line-height: 25px; 
}



//-------------------Clases para seleccion de PLAN DE TARIFICACIÓN


.plan_pago_base{
    -webkit-transition: all .25s ease-in-out;
      background-color:#fff;
              &:hover{
    -webkit-transform: scale(1.1);
          }
      
      
    -moz-transition: all .25s ease-in-out;
      background-color:#fff;
              &:hover{
    -moz-transform: scale(1.1);
          }
      
    -ms-transition: all .25s ease-in-out;
      background-color:#fff;
              &:hover{
    -ms-transform: scale(1.1);
          }
      
    -o-transition: all .25s ease-in-out;
      background-color:#fff;
              &:hover{
    -o-transform: scale(1.1);
          }
      
    transition: all .25s ease-in-out;
      background-color:#fff;
              &:hover{
    transform: scale(1.1);
          }
}

.plan_pago_monto{
    border-style: solid;
    border-left-width: 12px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-color: #0033a0;
    padding: 10px 0px;
    background-color: #00b5cb;
    color: #fff;
    font-size: 28px !important;
    line-height: 27px ;
    text-align: center;
        .total{
           font-size: 16px;  
           font-weight: 400;
           line-height: 0px
           }
     
        .moneda{
            font-size: 12px;
            line-height: 12px;        
            font-weight: 300;
            }              
}
    
.total02{
           
           font-size: 16px;  
           font-weight: 400;
           line-height: 0px;
           color:$font-grey;           
 }

.periocidad{
              font-size: 24px;
              line-height: 24px; 
              font-weight: 600;
              color:$font-grey;               
            }  


.rec_subsecuente{
         font-size: 14px; 
         font-weight: 500;
         line-height: 0px;
         color:$font-grey;
}


.monto02{
    font-size: 20px;
    font-weight: 600;
    line-height: 0px;
    color:#fff;
    
  }

.monto03{
    font-size: 19px;
    font-weight: 400;
    line-height: 10px;
    color:$font-grey;  
    }


        
.titulo_plan{
             font-size: 60px;
              }
      
.x-title-align-left{
    .x-title-text-ice-catalogo{
        text-align:center !important;
    }
}


.shadow_card{
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}


.thumb{    
   
    &:focus {outline: 2px solid transparent !important;
             background-color:#0033a0;}
    &:visited {outline: 2px solid transparent !important;
             }         
}

.plan_pago{
    float:left;
    padding: 2% 1%;    
}


.titulo_plan{
        font-weight: 600 !important;
        text-decoration: inherit;
        color: $font-grey !important;
        width:100% !important;
        font-size: 20px !important;
        padding-top: 5% !important;       
        line-height: 33px !important;
        text-align:center;
        background-color: $azulbd;
}



.align_plans{
    
    padding: 0 0 0 12%;
    
}


//-------------------Clases para seleccion de PRODUCTO



.back_productos{
     padding:0% 0% 0% 8%;
}

        
 .thumb > .x-view-item-focused{    
   
    &:focus {outline: 0px solid transparent !important;}
    &:visited {outline: 0px solid transparent !important;}         
}

 
.wrap_producto{
     margin:3.5% 3.5%;
     float: left;
     -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
     -ms-transition: all .25s ease-in-out;
     -o-transition: all .25s ease-in-out;
      transition: all .25s ease-in-out;
      
     
     &:hover { -webkit-transform: scale(1.1);
               -moz-transform: scale(1.1);
               -ms-transform: scale(1.1);
               -o-transform: scale(1.1);
               transform: scale(1.1);
               
              }  
                  
            .icon_product{                  
            width:80px;
            height:80px;
            border-radius:50px;
            background-color:rgba(112, 115, 114, 0.5);
            margin: 0 auto; 
            cursor: pointer;
            -webkit-transition: all .25s ease-in-out;
            -moz-transition: all .25s ease-in-out;
            -ms-transition: all .25s ease-in-out;
            -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
            &:hover {        
                        background-color:$azulc-s;
                        -webkit-transform: scale(1.2);
                        -moz-transform: scale(1.2);
                        -ms-transform: scale(1.2);
                        -o-transform: scale(1.2);
                         transform: scale(1.2);
                     }
           }
       
        .text_product{    
         padding: 10px 0px;
         //background-color: #00b5cb;
         font-size: 18px !important;
         line-height: 20px ;
         text-align: center !important;    
         color:$font-grey;
          &:hover {     font-weight: 500;
                         }  
           }
           
    }

//clases de los iconos segun el ramo de productos

.generic{
  &:after {
        content: "\f007";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color:#fff;  
        font-size:2.8em;
        position:absolute;
        padding: 22px 0px 0px 17px;
             }
}

 
.C201{
      &:after {
        content: "\f1b9";
        padding:30px 0px 0px 19px;        
        }
}

.C202{
      &:after {
        content: "\f207 ";
        padding: 29px 0px 0px 24px;       
        }
}

.C203{    
    &:after {
        content: "\f0fd";
        padding: 31px 0px 0px 23px;        
        }
}



.C211{    
    &:after {
        content: "\f1ba";
        padding: 29px 0px 0px 18px;        
        }
}


.C301{ 
      &:after {
        content: "\f0d1"; 
        padding:31px 17px 0px 20px;        
        }
    }

.C402{ 
       
      &:after {
        content: "\f109"; 
        padding:31px 17px 0px 21px;        
        }
 }


.C409{ 
       
      &:after {
        content: "\f0d6"; 
        padding:31px 17px 0px 21px;        
        }
 }

.C420{ 
      &:after {
        content: "\f0c0";
        padding: 30px 0px 0px 21px;        
        }
 }

.C430{ 
      &:after {
        content: "\f0b1";
        padding: 30px 0px 0px 21px;       
        }
 }


.C501{
       
      &:after {
        content: "\f1ad"; 
        padding:30px 0px 0px 25px;        
        }
}
.C601{
     &:after {
        content: "\f0e7 ";
        padding:30px 0px 0px 31px;         
        }
                   
}
 
.C606{
      &:after {
        content: "\f0fa";
        padding: 30px 0px 0px 22px;        
        }
}
 
.C607{
     &:after {
        content: "\f0fd";
        padding: 30px 0px 0px 22px;        
        }
}

.C901{
      &:after {
        content: "\f21e";
        padding: 32px 0px 0px 22px;        
        }
}

.btn_lupita{
    margin-top: -42px !important; margin-left: 169px;
}


//Estilos Pivote Classic

.zoomIn{
    //position:fixed !important;
     
    -webkit-animation-name    : bounceInUp; 
    -webkit-animation-duration: 0.8s;
    -moz-animation-name       : bounceInUp !important; 
    -moz-animation-duration   : 0.8s !important;
    -ms-animation-name        : bounceInUp;
    -ms-animation-duration    : 0.8s;
    -o-animation-name         : bounceInUp;
    -o-animation-duration     : 0.8s;
    animation-name            : bounceInUp;
    animation-duration        : 0.8s; 
    
    }

//empieza zoomin

@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    
  }

  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
  }

  90% {
   -webkit-transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    -moz-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
   -moz-transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -moz-transform: translate3d(0, -20px, 0);
  }

  75% {
    -moz-transform: translate3d(0, 10px, 0);
  }

  90% {
    -moz-transform: translate3d(0, -5px, 0);
  }

  to {
    -moz-transform: translate3d(0, 0, 0);
  }
}

@-ms-keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    -ms-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
   -ms-transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -ms-transform: translate3d(0, -20px, 0);
  }

  75% {
    -ms-transform: translate3d(0, 10px, 0);
  }

  90% {
    -ms-transform: translate3d(0, -5px, 0);
  }

  to {
    -ms-transform: translate3d(0, 0, 0);
  }
}

@-o-keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    -o-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    -o-transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -o-transform: translate3d(0, -20px, 0);
  }

  75% {
    -o-transform: translate3d(0, 10px, 0);
  }

  90% {
    -o-transform: translate3d(0, -5px, 0);
  }

  to {
    -o-transform: translate3d(0, 0, 0);
  }
}

.x-btn > .pivote > .x-unselectable > .x-layer > .x-btn-default-small > .x-border-box >.zoomIn{
   
    -moz-animation-name       : bounceInUp; 
    -moz-animation-duration   : 0.8s;    
               
}


//Media Query Botones Selección de rol Classic

@media only screen and (min-height: 1024px) {
  .btn_rol_suscriptor  {
          width:28%;
          height: auto !important; 
          padding-top: 12px;
          }
          
   .plan_pago{
      padding: 8% 1%;
     }
    .titulo_plan {
      padding-top: 8% !important;  
    } 
          
   }

@media only screen and (max-width: 1280px) {
  .btn_rol_suscriptor  {
          width:40%;
          height: auto !important; 
          padding-top: 12px;
          }
        
   .back_productos{
    padding:0%;
   }     
   }

 
 
