//Main (mixins y ui) de la carpeta CLASSIC de WEBAPP

@include treelist-ui(
    $ui: 'navigation',
    $padding: 0 10px,

    // Black-ish background color (Paleta de Azul Sura*2017)
    $background-color: $azulc2-s,
    $toolstrip-background-color: $azulo3-s,

    $tool-float-indicator-color: $azulc-s,
    $tool-float-indicator-width: 5px,

    $tool-indicator-selected-color: $azulc-s,
    $tool-indicator-selected-width: 5px,
    $tool-selected-background-color: $azulo3-s,
    
    //$tool-selected-color: #fff,
    //$tool-selected-background-color: $panel-header-background-color,

    // Darker background for expanded subtrees
    $item-expanded-background-color: $azulo2-s,

    // Taller line height
    $item-line-height : $panel-navigation-item-line-height,

    $row-over-background-color:$azulo3-s, //mix(white, $panel-navigation-background-color, 5%),
    $row-selected-background-color: $azulo3-s,
    $row-selected-over-background-color:$azulo2-s,

    // Off-white text
    $item-icon-color: $panel-navigation-item-text-color,
    $item-expander-color: #fff,
    $item-text-color: #ADB3B8,

    // Brighter when hovered
    $item-icon-over-color: #fff,
    $item-expander-over-color: #fff,
    $item-text-over-color: mix(white, $panel-navigation-item-text-color, 50%),
    $item-text-font-size: 14px,
    
    // Various sizes for the pieces:
    $item-icon-font-size: 18px,
    $item-icon-width: 44px,
    $item-expander-font-size: 16px,
    $item-expander-width: 24px,

    // Style the "row indicator" (the vertical stripe on the left edge):
    $row-indicator-width: 5px,
    $row-indicator-selected-color: $azulc-s,
    $row-indicator-selected-over-color: $azulc-s,
    $row-indicator-over-color: $azulc-s
);

//--------------------------------------------------------
// Create classes for full-size responsive items

.big-100 {
    @include responsivecolumn-item(100%);
}

.big-60 {
    @include responsivecolumn-item(60%);
}

.big-50 {
    @include responsivecolumn-item(50%);
}

.big-40 {
    @include responsivecolumn-item(40%);
}

.big-33 {
    @include responsivecolumn-item(33.33%);
}

.big-20 {
    @include responsivecolumn-item(20%);
}

//--------------------------------------------------------
// And classes for small-size responsive items

 .x-responsivecolumn-small {
     > .small-100 {
         @include responsivecolumn-item(100%);
     }

     > .small-50 {
         @include responsivecolumn-item(50%);
     }
}

//--------------------------------------------------------

.sencha-logo {
    background-color: $base-color;
    height: 65px;

    font-size: 16px;
    color: $lightest-color;
    margin-left: 17px;

    .main-logo {
        line-height: 65px;
        img{
            margin-left: 12px;
            margin-right: 12px;
            top: 8px;
            position: relative;
        }
    }
}


.sencha-dash-dash-headerbar {
    padding:0 30px 0 0;
    position:fixed;
    width:100%;
    z-index:10;
    border:none;
    .header-right-profile-image {
        border-radius: 20px;
    }
}
.top-english-button{
    .x-btn-icon-el{
        width:21px;
        height:14px;
    }
}
.collapsed{
    .hot-icon,.new-icon{
        &:after{
            display:none;
        }
    }
    .x-tree-elbow-img{
        display:none;
    }

    .x-tree-node-text {
        display:none;
    }
}
.x-grid-cell{
    position:relative;
}
.hot-icon,.new-icon{
    &.hot-icon:after{
        content: "HOT";
        background:#e3495a;
    }
    &.new-icon:after{
        content: "NEW";
        background:$base-color;
    }
    &:after{
        height: 18px;
        width: 34px;
        display: inline-block;
        position: absolute;
        top: 22px;
        right: -180px;
        text-align:center;
        color: $lightest-color;
        font-weight: bold;
        font-size: 10px;
        line-height: 18px;
    }
}

.x-treelist-item-tool {
    height: $panel-navigation-item-line-height;
    &.hot-icon:after, &.new-icon:after{
        background: $panel-header-background-color;
        content: '';
    }
}

//.toolbar-btn-shadow{
//    @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
//    .x-btn-over{
//        background-color: $button-toolbar-hover-background-color;
//    }
//}

//Add border around html editor field





.x-html-editor-input{
    border:1px solid #ccc;
}

//UI Styles for buttons
@include extjs-button-small-ui(
    $ui: 'soft-blue',
    $background-color: $color-soft-blue,
    $border-color: darken($color-soft-blue, 5%)
);
@include extjs-button-large-ui(
    $ui: 'soft-blue',
    $line-height: 34px,
    $background-color: $color-soft-blue,
    $border-color: darken($color-soft-blue, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'soft-blue',
    $background-color: $color-soft-blue,
    $border-color: darken($color-soft-blue, 5%)
);

@include extjs-button-small-ui(
    $ui: 'facebook',
    $background-color: $social-facebook-btn-background,
    $border-color: darken($social-facebook-btn-background, 5%)
);
@include extjs-button-large-ui(
    $ui: 'facebook',
    $line-height: 34px,
    $background-color: $social-facebook-btn-background,
    $border-color: darken($social-facebook-btn-background, 5%)
);


@include extjs-button-small-ui(
    $ui: 'soft-cyan',
    $background-color: $color-soft-cyan,
    $border-color: darken($color-soft-cyan, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'soft-cyan',
    $background-color: $color-soft-cyan,
    $border-color: darken($color-soft-cyan, 5%)
);


@include extjs-button-small-ui(
    $ui: 'soft-green',
    $background-color: $color-soft-green,
    $border-color:darken($color-soft-green, 5%)
);
@include extjs-button-large-ui(
    $ui: 'soft-green',
    $line-height: 34px,
    $background-color: $color-soft-green,
    $border-color:darken($color-soft-green, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'soft-green',
    $background-color: $color-soft-green,
    $border-color:darken($color-soft-green, 5%)
);



@include extjs-button-small-ui(
    $ui: 'soft-red',
    $background-color: $color-soft-red,
    $border-color:darken($color-soft-red, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'soft-red',
    $background-color: $color-soft-red,
    $border-color:darken($color-soft-red, 5%)
);


@include extjs-button-small-ui(
    $ui: 'soft-purple',
    $background-color: $color-soft-purple,
    $border-color:darken($color-soft-purple, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'soft-purple',
    $background-color: $color-soft-purple,
    $border-color:darken($color-soft-purple, 5%)
);


@include extjs-button-small-ui(
    $ui: 'secundario-sm-framed',
    $color: #606060,
    $glyph-color: #606060,
    $background-color: $sec-color,
    $border-color: transparent,
    $border-width: 0
);

@include extjs-button-small-ui(
    $ui: 'gray',
    $background-color: rgba(0, 51, 160, 0.10),
    $border-color:darken($color-gray, 1%)
);
@include extjs-button-large-ui(
    $ui: 'gray',
    $line-height: 34px,
    $background-color: $color-gray,
    $border-color:darken($color-gray, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'gray',
    $background-color: $color-gray,
    $border-color:darken($color-gray, 5%)
);

@include extjs-button-small-ui(
    $ui: 'green',
    $background-color: $color-green,
    $border-color:darken($color-green, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'green',
    $background-color: $color-green,
    $border-color:darken($color-green, 5%)
);


@include extjs-button-small-ui(
    $ui: 'blue',
    $background-color: $color-blue,
    $border-color:darken($color-blue, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'blue',
    $background-color: $color-blue,
    $border-color:darken($color-blue, 5%)
);

@include extjs-button-small-ui(
    $ui: 'header',
    $color: #999,
    $glyph-color: #919191,
    $background-color: transparent,
    $border-width: 0
);


///////////////////////@ includes propios del tema ice-Sura


@include extjs-button-small-ui(
    $ui: 'Primario-sm',
    $color: #0033a0,
    $glyph-color: #0033a0,
    $background-color: $amarillo-s,
    $border-color: $amarillo-s,
    $border-width: 0
);
@include extjs-button-large-ui(
    $ui: 'Primario-lg',
    $color: #0033a0,
    $line-height: 34px,
    $glyph-color: #0033a0,
    $background-color:$amarillo-s,
    $border-color: $amarillo-s,
    $border-width: 0
);


@include extjs-button-large-ui(
    $ui: 'Secundario-lg',
    $line-height: 34px,
    $color: #fff,
    $glyph-color: #fff,
    $background-color:$azulo-s,
    $border-color: $azulo-s,
    $border-width: 0
);


@include extjs-button-small-ui(
    $ui: 'Nav-sm-framed',
    $color: $font-grey,
    $glyph-color: $font-grey,
    $background-color: $btn_transparent,
    $border-color: $btn_transparent,
    $border-width: 0
);
@include extjs-button-large-ui(
    $ui: 'Nav-lg',
    $line-height: 34px,
    $color: $font-grey,
    $glyph-color: $font-grey,
    $background-color:$btn_transparent,
    $border-color:$btn_transparent,
    $border-width: 0
);



//PANEL//

    @include extjs-panel-ui(
        $ui: 'ice-mesacontrol-framed',    
        $ui-header-background-color: $azulo-s,    
        $ui-border-color: $azulo-s,
        $ui-header-font-weight: $bold-400,   
        $ui-header-color: #FFF
    );
  


    
//WINDOW//

    @include extjs-window-ui( 
        $ui: 'ice-window-framed',    
        $ui-header-background-color: $azulo-s,    
        $ui-border-color: $azulo-s,
        $ui-header-font-weight: $bold-400, 
        $ui-header-color: #FFF
    );

//CATALOGO DE PRODUCTOS A COTIZAR//

    @include extjs-panel-ui(
        $ui: 'ice-catalogo-framed',    
        $ui-body-background-color: transparent,
        $ui-body-font-size: $font-pnl,
        $ui-body-color: $font-grey
        
    );
    
//PIVOTE//

    @include extjs-button-small-ui(
    $ui: 'pivote-framed',
    $color: #fff,
    $glyph-color: #fff,
    $background-color: $azulo-s,
    $border-color: $azulo-s,
    $border-width: 0
);


.x-btn-default-small-color-pressed{
    background-color: #f6f6f6;
}

    .x-btn-gray-small {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    padding: 7px 7px 7px 7px;
    border-width: 0px;
    border-style: solid;
    background-color:rgba(0, 51, 160, 0.40)!important;
    color:#fff;
    
}
    .x-btn-over.xbtn-default-toolbar-small{
        border-color: transparent !important;
        background-image:none;
        background-color: #dddddd;
        color: #606060;
}
    .x-btn-over.x-btn-gray-small {
    border-color: transparent !important;
    background-image: none;
    background-color:rgba(0, 51, 160, 0.25)!important;
    //background-color:#0033a0;
    color:#606060 !important;
}    
  

    .x-btn-inner-gray-small {
    font: 500 12px/16px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    color: #FFF  !important;
    padding: 0 5px;
    max-width: 100%;
}


    .x-btn-icon-el-gray-small{
    font-size: 16px;
    height: 16px;
    color:#fff !important;
    line-height: 16px;
}

.x-btn-over.x-btn-default-toolbar-small {
    border-color: transparent  !important;
    background-image: none;
    background-color: #dddddd;
    //background-color: rgba(0, 51, 160, 0.75);
}

    

