//Global mixins y ui de la carpeta sass de WEBAPP


  /* //PANEL//
@include extjs-panel-ui(
    $ui: 'ice-mesacontrol-framed',    
    $ui-header-background-color: $azulo-s,    
    $ui-border-color: $azulo-s,
    $ui-header-font-weight: $bold-400, 
    $ui-header-color: #FFF
    );
    
    
//WINDOW//
@include extjs-window-ui( 
    $ui: 'ice-window-framed',    
    $ui-header-background-color: $azulo-s,    
    $ui-border-color: $azulo-s,
    $ui-header-font-weight: $bold-400, 
    $ui-header-color: #FFF
    );
     *\