.#{$prefix}responsivecolumn {
    padding: $responsivecolumn-item-spacing 0 0 $responsivecolumn-item-spacing;

    > * {
        /*margin: 0 $responsivecolumn-item-spacing $responsivecolumn-item-spacing 0; jtezva 19-6-2017 se comenta original*/
        margin: 0 $responsivecolumn-item-spacing-right $responsivecolumn-item-spacing 0;
        float: left;
    }
}
